{{> header}}
<div class="container">
    <div class="message">
        <h2>{{message}}</h3>
    </div>
</div>

<!-- JS links -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="app.js"></script>