@charset "utf-8";
/* CSS Document */
body {
	background-color: #FFF;
	font-size: 1.25rem;}
#wrapper {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5%;
}
#articles {
	display: inline-block;
	overflow: auto;
	width: 60%;
	height: 700px;
}
#notes {
	float: right;
	width: 30%;
}
textarea, input {
	display: block;
	width: 100%;
	background-color: #FCF5C7;
}
input {
	height: 36px;
	font-size: 24px;
}
textarea {
	height: 200px;
	font-size: 18px;
}
/* customize bootstrap */
summary {
    display: block;
    cursor: default;  
}
a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:hover {
    color: #fff;
    text-decoration: underline;
}
.card {
	margin: 0 0 20px 0;
}
a.nav-link {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a.nav-link:hover {
    color: #007bff;
    /* text-decoration: underline; */
}
.save.btn.btn-success, .delete.btn.btn-danger, .note.btn.btn-warning {
    float: right;
    margin: 5px;
}
.card-header {
	font-size: 24px;
	font-weight: bold;
}